grant {
    permission java.security.AllPermission;
    permission java.net.SocketPermission "IP:PORT", "connect, resolve"; //CHANGE IP AND PORT here
};
